gunicorn==23.0.0
asgiref==3.11.1
certifi==2026.6.17
cffi==2.0.0
cloudinary==1.44.2
python-dotenv>=1.0.0
colorama==0.4.6
cryptography==49.0.0
Django==4.2.30
django-cors-headers==4.9.0
django-formtools==2.6.1
django-otp==1.7.0
django-phonenumber-field==8.4.0
django-two-factor-auth==1.18.1
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
pillow==12.2.0
psycopg2-binary==2.9.12
pycparser==3.0
PyJWT==2.13.0
PyOTP==2.10.0
qrcode==8.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
